# 정규식 축약표현

In [1]:
import re
print( re.search("\d+","치킨이 14000원입니다.") )  #숫자를 1개 이상 포함하는 문자열
                                                # <_sre.SRE_Match object; span=(4, 9), match='14000'>

<_sre.SRE_Match object; span=(4, 9), match='14000'>

In [2]:
result =  re.search("\d+","치킨이 14000원입니다.") #Match 객체를 리턴 
start = result.start()   
print(start) # 4
end = result.end()
print (end)  # 9
print ( result.span() )  #(4, 9)
print ( result.group() ) # 14000

4
9
(4, 9)
14000

In [3]:
aa = re.findall("\d+" , "미카이의 생일은 2222년 12월 12일 입니다.")   
print (aa) # ['2222', '12', '12']
for i in aa :
    print(i) # 2222, 12, 12

['2222', '12', '12']
2222
12
12

In [8]:
r = re.compile("[a-zA-Z]+") 
result = r.finditer("My birthday is 1999 01 11. ") 
for i in result :
    print (i.group()) 
    print(i.start()) 
    print(i.end()) 
    print(i.span())

My
0
2
(0, 2)
birthday
3
11
(3, 11)
is
12
14
(12, 14)

In [9]:
print ( re.split("[:]+" ,"Apple orange : graph cherry") )  # : 문자열을 구분자로 문자열 분리

['Apple orange ', ' graph cherry']

In [13]:
print ( re.split("[: ]+" ,"Apple orange : graph cherry") )

['Apple', 'orange', 'graph', 'cherry']

In [12]:
print (re.sub("-" ,"**" , "1111-2222")) # 문자열 교체

1111**2222